# Android
.gradle/
build/
app/build/
*.iml
.idea/
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx
*~
*.swp
*.bak
*.tmp
*.temp
.navigation/

# Kotlin
.kotlin/

# Secrets
.env
google-services.json
